@import 'bootstrap/variables';

#containers {
  .btn-group {
    display: flex;
  }

  .btn-group:not(:first-child) {
    margin-top: -1px;
  }
}


.container-sub {

  h1 {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  ul {
    float: right;
    margin: 10px auto;
  }

}