@keyframes fade-in {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes bounce {
  0% {
      -webkit-transform:translateY(0) scaleY(1);
  }
  50% {
      -webkit-transform:translateY(5px) scaleY(0.8);
  }
  100% {
      -webkit-transform:translateY(0) scaleY(1);
  }
}

@keyframes loading {
  0% {
    background-color: rgba(
      red($brand-primary),
      green($brand-primary),
      blue($brand-primary),
      0.0
    );
  }
  100% {
    background-color: rgba(
      red($brand-primary),
      green($brand-primary),
      blue($brand-primary),
      1.0
    );
  }
}
