@import 'theme';

#containers {
  .btn-group {
    display: flex;
  }

  .btn-group:not(:first-child) {
    margin-top: -1px;
  }

  .fa-check-circle-o,
  .fa-times-circle-o {
    font-size: 24px;

    &.text-success {
      color: $brand-success;
    }
    &.text-danger {
      color: $brand-danger;
    }
  }
}


.container-sub {

  h1 {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  ul {
    float: right;
    margin: 10px auto;
  }

}