@import 'variables';

@-webkit-keyframes loading {
  0% {
    background-color: rgba(
      red($brand-primary),
      green($brand-primary),
      blue($brand-primary),
      0.2
    );
  }
  100% {
    background-color: rgba(
      red($brand-primary),
      green($brand-primary),
      blue($brand-primary),
      0.4
    );
  }
}

table.filtered {
  table-layout: fixed;

  tr.loading td {
    animation: loading 1s linear infinite alternate;
  }

  td {
    &, div.text {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    min-width: 40px;
    height: 40px;
    white-space: nowrap;
  }
}

table.sortable {
  th {
    &.sort {
      font: normal normal normal 14px/1 FontAwesome;
    }
    &.sort-both::after, &.sort-desc::after, &.sort-asc::after {
      float: right;
      color: $brand-primary;
    }
    &.sort-both::after {
      content: '\f0dc';
    }

    &.sort-desc::after {
      content: '\f0dd';
    }

    &.sort-asc::after {
      content: '\f0de';
    }
  }
}
