@import 'variables';

table.filtered {
  table-layout: fixed;

  td {
    &, div {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    min-width: 40px;
    height: 40px;
    white-space: nowrap;

    .spinner {
      float: right;
    }
  }
}

table.sortable {
  th {
    &.sort {
      font: normal normal normal 14px/1 FontAwesome;
    }
    &.sort-both::after, &.sort-desc::after, &.sort-asc::after {
      float: right;
      color: $brand-primary;
    }
    &.sort-both::after {
      content: '\f0dc';
    }

    &.sort-desc::after {
      content: '\f0dd';
    }

    &.sort-asc::after {
      content: '\f0de';
    }
  }
}
