@import 'variables';

table.filtered {
  table-layout: fixed;

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 40px;
    height: 40px;
    &:first-child {
      white-space: nowrap;
    }
  }
  td:last-child, th:last-child {
    width: 30px;
  }
}

table.sortable {
  th {
    &.sort {
      font: normal normal normal 14px/1 FontAwesome;
    }
    &.sort-both::after, &.sort-desc::after, &.sort-asc::after {
      float: right;
      color: $brand-primary;
    }
    &.sort-both::after {
      content: '\f0dc';
    }

    &.sort-desc::after {
      content: '\f0dd';
    }

    &.sort-asc::after {
      content: '\f0de';
    }
  }
}
