@import 'variables';

$font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$font-size: 12px;

.terminal {
  -webkit-user-select: text;
  font-family: $font-family;
  font-size: $font-size;
  float: none;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 30px;
}

.terminal-test {
  font-family: $font-family;
  font-size: $font-size;
  position: absolute;
  float: left;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.terminal-cursor {
  color: #ffffff;
  background: #f0f0f0;
}
