$terminal-font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$terminal-font-size: 12px;

.terminal {
  -webkit-user-select: text;
  font-family: $terminal-font-family;
  font-size: $terminal-font-size;
  float: none;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 30px;
  border-radius: 5px;
  border-color: $gray-dark;
  border-width: 2px;
  padding: 3px 0px 0px 3px;
}

.terminal-test {
  font-family: $terminal-font-family;
  font-size: $terminal-font-size;
  position: absolute;
  float: left;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.terminal-cursor {
  color: #ffffff;
  background: #f0f0f0;
}
