@import 'variables';
@import 'table';
@import 'bootstrap';
@import 'font-awesome';
@import 'spinners/9-cube-grid';
@import 'spinners/11-folding-cube';

body {
  padding-top: $body-padding-top;
  -webkit-user-select: none;
}

.navbar-brand {
  padding: 0 15px;
}

.glyphicon, .fa {
  color: $brand-primary;
}

.navbar-header img {
  width: 60px;
  height: auto;
}

ul.nav {
  li {
    text-transform: capitalize;
  }
}

.btn, a {
  cursor: default;
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s;
}

nav li {
  transition: background-color 1s ease-in;
}
