@import './variables.scss';
@import 'bootstrap';
@import 'spinners/9-cube-grid';
@import 'spinners/11-folding-cube';

body {
  padding-top: $body-padding-top;
  -webkit-user-select: none;
}

.navbar-brand {
  padding: 0 15px;
}

.glyphicon {
  color: $brand-primary;
}

.navbar-header img {
  width: 60px;
  height: auto;
}

ul.nav {
  li {
    text-transform: capitalize;
  }
}

.btn, a {
  cursor: default;
}

table.filtered {
  table-layout: fixed;

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 40px;
    &:first-child {
      white-space: nowrap;
    }
  }
  td:last-child, th:last-child {
    width: 30px;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s;
}
