/* bootstrap */
$brand-primary: rgb(0, 139, 184);
$icon-font-path: './fonts/';
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

/* spinkit */
$spinkit-size: 16px;
$spinkit-spinner-color: $brand-primary;
$spinkit-spinner-margin: 5px auto;

/* dockra */
$body-padding-top: 60px;
